<div data-ng-controller="AdminCtrl as adminController">
	<div class="row">
		<div class="col-md-6">
	<H1>Admin</H1>
		</div>
		<div class="col-md-6">
		<a href="#!/results" target="_blank">Poll Results</a>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<h2>Polls</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-offset-2 col-sm-2">
			<button type="submit" class="btn btn-success"
				data-ng-click="adminController.onNewPoll()">New</button>
		</div>
		<div class="col-sm-2">
			<button type="submit" class="btn btn-success"
				data-ng-click="adminController.onSaveAllPolls()">Save all</button>
		</div>
		<div class="col-sm-2">
			<button type="submit" class="btn btn-danger"
				data-ng-click="adminController.onDeleteAllPolls()">Delete polls</button>
		</div>
		
		<div class="col-sm-2">
			<button type="submit" class="btn btn-danger"
				data-ng-click="adminController.onDeleteAllVotes()">Delete votes</button>
		</div>

	</div>
	<br>
	<div class="row" data-ng-repeat="poll in adminController.polls">
		<form class="form-horizontal" name="poll{{poll._id}}" novalidate>
			<div class="form-group">
				<label for="inputTitle" class="control-label col-sm-2">Title:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="inputTitle"
						name="inputTitle" data-ng-model="poll.title" placeholder="Title"
						required>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<div class="checkbox">
						<label><input type="checkbox" data-ng-model="poll.active"
							placeholder="Active">Active</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<div class="checkbox">
						<label><input type="checkbox"
							data-ng-model="poll.showResults" placeholder="Show results">Show
							Results</label>
					</div>
				</div>
			</div>



			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-2">
					<label class="control-label col-sm-2">Options:</label>
				</div>
				<div class="col-sm-8">
					<label class="radio-inline"
						data-ng-repeat="optionTemplate in adminController.optionsTemplatesList">
						<input type="radio"
						data-ng-model="adminController.selectedTemplate[poll._id]"
						data-ng-value="optionTemplate.template"> <a
						data-ng-click="adminController.onSelectOptionTemplate(poll._id,optionTemplate.template)">{{optionTemplate.template}}</a>
					</label>
				</div>
			</div>
			<!-- <div class="form-group">
				<div class="col-sm-offset-2 col-sm-2">
					<button type="submit" class="btn btn-success"
						data-ng-click="adminController.onSavePoll(poll._id)">Save</button>
				</div>
			</div> -->

		</form>
		<hr>
	</div>



	<div class="row">
		<div class="col-md-12">
			<h2>Create users</h2>
			<form role="form" class="form-horizontal" name="createUserForm"
				novalidate>
				<div class="form-group">

					<label for="inputNumUsers" class="control-label col-sm-2">Number
						of users:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="inputNumUsers"
							name="inputUserId" data-ng-model="adminController.numUsers"
							placeholder="Number of users" autofocus required
							data-ng-pattern="/^[0-9]+$/">
						<div data-ng-messages="loginForm.$error" class="help-block"
							data-ng-show="createUserForm.inputNumUsers.$invalid && !lcreateUserForm.inputNumUsers.$pristine">
							<div data-ng-message="pattern">Enter valid number</div>
						</div>
					</div>
				</div>

				<div class="col-sm-offset-2 col-sm-2">
					<button type="submit" class="btn btn-success"
						data-ng-click="adminController.onCreateUsers()">Create
						Users</button>
				</div>
				<div class="col-sm-2">
					<button type="submit" class="btn btn-warning"
						data-ng-click="adminController.onDeleteUsers()">Delete
						Users</button>
				</div>
			</form>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h2>Users ({{adminController.userCount.all}}, {{adminController.userCount.online}} online)</h2>
				<table class="table">
					<tr data-ng-repeat="user in adminController.users">
						<td>{{user.userId}}</td>
						<td>{{user._id}}</td>
						<td><span data-ng-show="user.isOnline">online</span></td>
						<td>{{user.loginUrl}}</td>
					</tr>
				</table>
			</div>

		</div>

	</div>
</div>